
.star{
  margin: 0;
  padding:0;
  font-family: Roboto, Arial;
  font-size: 10px;
  overflow: hidden;
}
.body-back{
  background-image: url(images/background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.sign-up{
  color:white;
  border-color: black;
  position: absolute;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 20px;
  width: 60px;
  top: 20px;
  right: 70px;
  opacity: 0.8;
}
.take-a-tour{
  position: absolute;
  color: white;
  background-color: ;
  border:1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 90px;
  top: 520px;
  left: 55px;
  opacity: 0.6;
}
.coventic{
  display: flex;
  position: absolute;
  width: 10px;
  height: 25px;
  top: 20px;
  left: 60px;
  opacity: 0.9;
  }
.welcome{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  top: 250px;
  left: 70px;
  opacity: 0.8;
}
.world{
  color: white;
  font-size: 100px;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  top: 260px;
  left: 70px;
}
.side-bar{
  color: black;
  background-color: black;
  height: 100%;
  width: 40px;
  border: none;
  position: absolute;
  right: 0;
opacity: 0.3;
box-shadow: -1px 0px 1px rgba(0 0 0 0.5);
}
.first-section{
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: center;
  padding-top: 40px;
}
.first-section img{
  height: 20px;
  width: 20px;
  
}
.second-section{
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
  justify-content: center;
}
.second-section img{
  height: 20px;
  width: 20px;
  z-index: 20;
}
.second-section div{
  margin-bottom: 10px;
}
.bubbles{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -70px;
  width: 95%;
  justify-content: space-around;
}
.bubbles img{
  width: 50px;
  object-fit: contain;
  animation: bubble 7s linear infinite;
}
@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  100%{
    transform: translateY(-90vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1)
{
width: 50px;
animation-delay: 2s;
}
.bubbles img:nth-child(2)
{
 width: 35px; 
 animation-delay: 1s;
}
.bubbles img:nth-child(3)
{
  width: 50px;
  animation-delay: 4.5s;
}
.bubbles img:nth-child(4)
{
  width: 25px;
  animation-delay: 3s;
}
.bubbles img:nth-child(5)
{
 width: 50px; 
 animation-delay: 4s;
}
.bubbles img:nth-child(6)
{
  width:35px ;
  animation-delay: 6s;
}
.bubbles img:nth-child(7)
{
 width: 50px; 
 animation-delay: 2s;
}
